@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}
@font-face {
    font-family: Raleway;
    src: url('https://fonts.googleapis.com/css?family=Raleway');
}

body, p, div {
    font-family: 'Roboto', sans-serif, Helvetica;
}

body {
    margin: 0;
}

.title {
    display: block;
    padding: 10px;
    font-family: 'Raleway', sans-serif, Helvetica;
    background-color: #3f5f95;
    color: white;
    text-align: center;
}

.content {
    margin-left: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content div {
    margin: 10px 20px;
}

.section-title {
    border: solid 2px #99B8CF;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: #2e456c;
    font-weight: bold;
}

th {
    color: #2e456c;
    padding: 0 10px;
}

td {
    padding: 0 10px;
}

label {
    color: #2e456c;
    font-size: 0.9em;
    font-weight: bold;
}

.submit {
    border: outset 3px #a2c3db;
    border-radius: 5px;
    padding: 10px;
    background-color: #f4faff;
    font-weight: bold;
    color: #2e456c;
}
.submit:active {
    border: inset 3px #a2c3db;
}
.submit:hover {
    background-color: #f9fcff;
}
.submit:focus {
    outline: 0;
}